<div class="col-md-12">
  Login: {{input value=name}} <button {{action 'login'}}>Login </button>
  {{#if noUserFound}}
    <p>No user found with login '{{nonUser}}'. {{#link-to 'register'}} Register Here. {{/link-to}}</p>
  {{/if}}
</div>
